_ngo
_xmsgs
iseconfig
isim
planAhead_run_*
xlnx_auto_0_xdb
xst

*.bld
*.cmd
*.cmd_log
*.csv
*.debug
*.exe
*.html
*.ini
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.wdb
*.xdl
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xst
*.gise
*.zip

*.swp
